.login-form {
  margin: 100px auto 0;
}

.profile {
  width: 600px;
  margin: 150px auto;
  border: 1px solid #c7c7c7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
}